@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello from the Cloud</h1>
    <p>The time is @Model.Message. Here's a view:</p>
    @*<img src="http://[YOUR-CLOUDFRONT-URL]" />*@
    <img src="http://d1kdd7po3bw56i.cloudfront.net/image.jpg" />
</div>
